body, .container {
  background-color: rgb(243, 239, 239);
  font-family: 'Open Sans', sans-serif;
  font-weight: 900;
}

.container-fluid {
  min-height: 100vh;
  position: relative;
}

/* Top Section Start */

.spiel {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 200px;
  background-image: linear-gradient(rgba(170, 213, 255, 0.966), rgba(191, 223, 255, 0.747), rgba(234, 247, 255, 0.308));
  display: flex;
  align-items: center;
  justify-content: center;
}

.spiel p {
  font-size: 2.5rem;
  margin-bottom: 0;
  margin-top: 0;
  /* font-family: 'Sacramento', cursive; */
  font-weight: 500;
}

/* Top Section End */

/* Listings Start */

.listing {
  padding-bottom: 50px;
  width: 850px;
}

.listings {
  text-align: center;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}

.card {
  height: 250px;
  width: 200px;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
}

.card-image {
  height: 175px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.cardTitle {
  color: #1e88e5;
  margin: 0;
}


.titleBox {
  height: 75px;
  display: flex;
  justify-content: center;
  padding-left: 7px;
  padding-right: 7px;
}

/* Listings End */


/* Media Queries */

@media only screen and (max-width: 992px) {
  .listing {
    width: 575px;
  }
  .card {
    width: 180px;
  }
}

@media only screen and (max-width: 600px) {
  .listing {
    width: 90%;
  }
  .card {
    width: 300px;
  }
  .logo {
    width: 120px !important;
  }
  .spiel p {
    font-size: 1.75rem;
  }
  .spiel {
    height: 170px;
  }
}

@media only screen and (min-width: 1200px) {
  #profileTools {
    width: 90%;
  }
}

@media only screen and (max-width: 993px) {
  #profileTools {
    width: 75% !important;
  }
}