/* Login/SignUp styling Start */

.connect {
  margin-top: 100px;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}

#invalid {
  margin-top: -20px;
  margin-bottom: 30px
}

.info {
  background: lightblue;
  height: 140px;
}

.sidebar {
  height: 500px;
}

h5 {
  color: white;
}

.headSpace {
  /* background-color: lightcoral; */
  padding: 10px;
  margin-bottom: 30px;
}

.headSpace h1 {
  font-weight: 100;
  margin: 0;
  color: rgb(4, 131, 110);
}

.itemName {
  width: 90% !important;
  float: none !important;
  margin-left: auto;
  margin-right: auto;
  padding-right: 35px !important;
  margin-bottom: 2px;
}

.card-panel {
  margin-top: 15px;
  width: 100%;
  text-align: center;
  margin-bottom: 55px;
}

.card-panel .row {
  margin-bottom: -5px;
}

.invalid {
  border-bottom: #f44336
}

@media only screen and (max-width:600px) {
  .connect {
    width: 80%;
  }
  .itemName {
    width: 100% !important;
    padding-right: 25px !important;
  }
}

.input-field p, .input-field .select-wrapper {
  display: inline-block;
  clear: both;
  float: none;
}

.loadField {
  margin-bottom: -6px !important;
}

progress {
  width: 100%;
  -webkit-appearance: none;
  border-radius: 20px;
}

::-webkit-progress-value {
  background-color: rgb(36, 165, 133);
  border-radius: 20px;
}

::-webkit-progress-bar {
  background-color: gainsboro;
  height: 6px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

/* Login/SignUp styling End */